@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button-check {
  width: 160px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  border: 1px solid #ff6c00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-check:hover {
  background-color: #ff6c00;
  color: #ffffff;
}

.price .container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (max-width: 767px) {
  .price .container {
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price .container {
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 1200px) {
  .price .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.price {
  min-width: 410px;
  min-height: 718px;
  background-color: #111319;
  background-image: url("../images/price/price-mobile-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .price {
    min-height: 826px;
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price {
    min-height: 858px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .price {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .price {
    background-image: url("../images/price/price-mobile-bg@2x.png");
  }
}

@media screen and (min-width: 481px) {
  .price {
    background-image: url("../images/price/price-tablet-bg.png");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .price {
    background-image: url("../images/price/price-tablet-bg@2x.png");
  }
}

@media screen and (min-width: 769px) {
  .price {
    background-image: url("../images/price/price-desktop-bg.png");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .price {
    background-image: url("../images/price/price-desktop-bg@2x.png");
  }
}

.price .appeal {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.price .appeal::after {
  content: '';
  display: block;
  margin-right: 20px;
  width: 60px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}

.price-title {
  margin-bottom: 44px;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.price-list {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .price-list {
    padding: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price-list {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 1199px) {
  .price-list {
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .price-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .price-list .part-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (max-width: 1199px) {
  .price-list .part-1 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .price-list .part-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-list .list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 1200px) {
  .price-list .list {
    -ms-flex-preferred-size: 585px;
        flex-basis: 585px;
    padding: 30px 40px;
  }
}

.price-list .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price-list .list .item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list .list .item hr {
  width: 100%;
  margin: 0 6px;
  border: 1px solid rgba(157, 164, 189, 0.12);
}

.price .text {
  white-space: nowrap;
  margin: 0;
  font-size: 14px;
  line-height: 2.143;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

@media screen and (min-width: 768px) {
  .price .text {
    font-size: 18px;
    line-height: 1.7;
  }
}

.price .button-check {
  display: block;
  margin: 0 auto;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .section-gallery {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media screen and (min-width: 768px) {
  .section-gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.section-gallery .container-gallery {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .section-gallery .container-gallery {
    padding-right: 31px;
    padding-left: 31px;
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .section-gallery .container-gallery {
    padding-right: 39px;
    padding-left: 39px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery .container-gallery {
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;
  }
}

.section-gallery-text {
  margin-top: 0;
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.section-gallery-text::before {
  content: '';
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: #303030;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (max-width: 767px) {
  .section-gallery-text {
    line-height: 1.9;
  }
}

@media screen and (max-width: 767px) {
  .text-position {
    margin-left: 80px;
  }
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .gallery-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .gallery-list-item {
    width: 418px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
    margin-right: 30px;
    width: 330px;
  }
  .gallery-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .gallery-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-list-item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
    margin-right: 0;
    width: 270px;
  }
  .gallery-list-item + .gallery-list-item {
    margin-left: 30px;
  }
}

.team-section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .team-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.team-section.background {
  background-color: #f7f7f7;
}

.team-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 480px) {
  .team-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .team-container {
    width: 768px;
    padding-left: 159px;
    padding-right: 159px;
  }
}

@media screen and (min-width: 1200px) {
  .team-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.additional {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.additional::before {
  display: inline-block;
  content: ' ';
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: #303030;
  vertical-align: middle;
}

.section-title {
  margin-top: 0;
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #303030;
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

.worker-card {
  margin-bottom: 64px;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .worker-card {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .worker-card {
    width: calc((100% - 30px * 2) / 3);
  }
  .worker-card:not(:last-child) {
    margin-right: 30px;
  }
}

.thumb {
  height: 346px;
}

.thumb img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-list .socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list .socials-link:hover, .socials-list .socials-link:focus {
  fill: #ff6c00;
  cursor: pointer;
}

.worker-info {
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
}

.worker-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
}

.worker-profession {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.about-us .container {
  padding: 84px 31px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .about-us .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .about-us .container {
    width: 768px;
    padding: 100px 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .about-us .container {
    width: 1200px;
    padding: 130px 15px 130px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-us .examples {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-us .examples {
    display: block;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 64px;
  }
}

@media screen and (max-width: 1199px) {
  .about-us .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us .item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .about-us .img {
    width: 330px;
    height: 235px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us .img {
    width: 270px;
    height: 445px;
  }
}

.about-us .title-text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.about-us .title-text::before {
  content: '';
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: #303030;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.about-us .subtitle-text {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #303030;
}

@media screen and (min-width: 1200px) {
  .about-us .subtitle-text {
    font-size: 42px;
  }
}

.about-us .appeal-text {
  display: block;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: #555555;
}

@media screen and (min-width: 780px) {
  .about-us .appeal-text {
    line-height: 1.6;
  }
}

@media screen and (min-width: 1200px) {
  .about-us .appeal-text {
    font-size: 18px;
    line-height: 1.7;
  }
}

.about-us .text {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.02em;
  color: #555555;
}

.company-benefits .container {
  padding: 84px 31px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .company-benefits .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .company-benefits .container {
    width: 768px;
    padding: 100px 39px;
  }
}

@media screen and (min-width: 1200px) {
  .company-benefits .container {
    width: 1200px;
    padding: 121px 15px 130px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .company-benefits-textgroup {
    margin-right: 100px;
    margin-left: 130px;
  }
}

.company-benefits .title-text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.company-benefits .title-text::before {
  content: '';
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: #303030;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (min-width: 1200px) {
  .company-benefits .title-text {
    margin-top: 9px;
  }
}

.company-benefits .bigest-text {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}

@media screen and (min-width: 768px) {
  .company-benefits .bigest-text {
    width: 420px;
  }
}

.company-benefits .appeal-text {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

@media screen and (min-width: 768px) {
  .company-benefits .appeal-text {
    width: 470px;
  }
}

.company-benefits .benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .company-benefits .benefits-list {
    margin-left: 239px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (max-width: 1199px) {
  .company-benefits .benefits-list {
    margin-top: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .company-benefits .benefits-list {
    width: 370px;
  }
}

.benefits-list .benefits-item {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 133px;
  background-color: #f7f7f7;
}

.benefits-list .benefits-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 1199px) {
  .benefits-list .benefits-item {
    width: calc((100% - 31px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list .benefits-item {
    width: 170px;
  }
}

.benefits-list .discription-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6px;
}

.benefits-list .number-text {
  margin: 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-list .benefits-svg-icon {
  width: 13px;
  height: 22px;
  margin-top: 7px;
  margin-left: 2px;
}

.benefits-list .discription-text {
  max-width: 122px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-list .discription-text.indigo {
  max-width: 130px;
}

footer {
  background-color: #191c26;
}

footer a {
  color: inherit;
  display: inherit;
}

.footer-section {
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .footer-section {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .footer-section {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-section {
    max-width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-record-conteiner {
  padding: 84px 31px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form-record-conteiner {
    padding: 100px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .form-record-conteiner {
    padding-left: 55px;
    padding-top: 130px;
    padding-right: 40px;
  }
}

.form-record-conteiner h2 {
  margin: 0;
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .form-record-conteiner h2 {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .form-record-conteiner h2 {
    margin-bottom: 44px;
  }
}

.form-record-conteiner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .input-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .input-box {
    margin-bottom: 44px;
  }
}

.input-name {
  width: 100%;
  margin-bottom: 44px;
  background-color: #191c26;
  border: none;
  color: rgba(157, 164, 189, 0.4);
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:hover, .input-name:focus {
  color: #ffffff;
  border-color: #ffffff;
}

.input-name:hover::-webkit-input-placeholder, .input-name:focus::-webkit-input-placeholder {
  color: #ffffff;
}

.input-name:hover:-ms-input-placeholder, .input-name:focus:-ms-input-placeholder {
  color: #ffffff;
}

.input-name:hover::-ms-input-placeholder, .input-name:focus::-ms-input-placeholder {
  color: #ffffff;
}

.input-name:hover::placeholder, .input-name:focus::placeholder {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .input-name {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.input-tel {
  width: 100%;
  margin-bottom: 44px;
  background-color: #191c26;
  border: none;
  color: rgba(157, 164, 189, 0.4);
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-tel:hover, .input-tel:focus {
  color: #ffffff;
  border-color: #ffffff;
}

.input-tel:hover::-webkit-input-placeholder, .input-tel:focus::-webkit-input-placeholder {
  color: #ffffff;
}

.input-tel:hover:-ms-input-placeholder, .input-tel:focus:-ms-input-placeholder {
  color: #ffffff;
}

.input-tel:hover::-ms-input-placeholder, .input-tel:focus::-ms-input-placeholder {
  color: #ffffff;
}

.input-tel:hover::placeholder, .input-tel:focus::placeholder {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .input-tel {
    margin-bottom: 0;
  }
}

.input-textarea {
  height: 90px;
  background-color: #191c26;
  border: none;
  color: rgba(157, 164, 189, 0.4);
  padding: 0;
  padding-top: 8px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
  resize: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-textarea:hover, .input-textarea:focus {
  color: #ffffff;
  border-color: #ffffff;
}

.input-textarea:hover::-webkit-input-placeholder, .input-textarea:focus::-webkit-input-placeholder {
  color: #ffffff;
}

.input-textarea:hover:-ms-input-placeholder, .input-textarea:focus:-ms-input-placeholder {
  color: #ffffff;
}

.input-textarea:hover::-ms-input-placeholder, .input-textarea:focus::-ms-input-placeholder {
  color: #ffffff;
}

.input-textarea:hover::placeholder, .input-textarea:focus::placeholder {
  color: #ffffff;
}

.form-record-conteiner button {
  margin-left: auto;
  margin-right: auto;
  padding: 12px 38px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-record-conteiner button:hover, .form-record-conteiner button:focus {
  background-color: #ff6c00;
}

@media screen and (min-width: 768px) {
  .form-record-conteiner button {
    margin-left: 0;
  }
}

.contact-conteiner {
  width: 100%;
  padding: 84px 31px;
  color: #191c26;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url(../images/footer-img-1x.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url(../images/footer-img-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .contact-conteiner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.9)), to(rgba(25, 28, 38, 0.9))), url(../images/footer-img-2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url(../images/footer-img-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .contact-conteiner {
    padding: 100px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-conteiner {
    padding-left: 100px;
    padding-top: 130px;
    padding-right: 105px;
    padding-bottom: 130px;
  }
}

.contact-conteiner h2 {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .contact-conteiner h2 {
    text-align: left;
  }
}

.secondary-contact-conteiner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .secondary-contact-conteiner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .secondary-contact-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.secondary-contact-conteiner a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail-link {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .contact-conteiner ul {
    width: 330px;
  }
}

.contact-conteiner li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contact-conteiner li:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contact-conteiner li {
    padding-right: 60px;
  }
}

.contact-conteiner svg {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .main-conteiner-time-work {
    width: 330px;
  }
}

.conteiner-time-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 44px;
}

@media screen and (min-width: 768px) {
  .conteiner-time-work {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .conteiner-time-work {
    margin-top: 70px;
  }
}

.psevdo-box {
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background: rgba(157, 164, 189, 0.4);
}

.time-work {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.period {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.copyright-section {
  position: relative;
  padding: 44px 31px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .copyright-section {
    padding: 56px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .copyright-section {
    padding: 56px 55px;
  }
}

.link-conteiner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-conteiner .psevdo-box {
  background-color: #303030;
  margin: 0;
}

.link-conteiner li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.link-conteiner li:not(:last-child) {
  margin-right: 40px;
}

.link-conteiner li:hover, .link-conteiner li:focus {
  color: #ff6c00;
}

.copyright-section p {
  margin: 0;
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

@media screen and (min-width: 768px) {
  .copyright-section p {
    position: absolute;
    top: 56px;
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */