<section class="price" id="price">
  <div class="container">
    <!-- after вместо before что бы убрать 4px -->
    <p class="appeal">Проведи время в компании лучших мастеров</p>
    <h2 class="price-title">
      Услуги и цены
    </h2>
    <div class="price-list">
      <ul class="list part-1">
        <li class="item">
          <p class="text">Мужская стрижка</p>
          <hr />
          <p class="text">от 300 грн.</p>
        </li>
        <li class="item">
          <p class="text">Стрижка бороды</p>
          <hr />
          <p class="text">от 200 грн.</p>
        </li>
        <li class="item">
          <p class="text">Стрижка усов</p>
          <hr />
          <p class="text">от 200 грн.</p>
        </li>
        <li class="item">
          <p class="text">Бритье опасной бритвой</p>
          <hr />
          <p class="text">от 200 грн.</p>
        </li>
      </ul>

      <ul class="list part-2">
        <li class="item">
          <p class="text">Cтрижка у стажера</p>
          <hr />
          <p class="text">от 50 грн.</p>
        </li>
        <li class="item">
          <p class="text">Стрижка под насадку</p>
          <hr />
          <p class="text">от 200 грн.</p>
        </li>
        <li class="item">
          <p class="text">Детская стрижка (до 12 лет)</p>
          <hr />
          <p class="text">от 300 грн.</p>
        </li>
        <li class="item">
          <p class="text">Камуфлирование седины</p>
          <hr />
          <p class="text">от 200 грн.</p>
        </li>
      </ul>
    </div>
    <button class="blob-btn">
      онлайн-запись
      <span class="blob-btn__inner">
        <span class="blob-btn__blobs">
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
        </span>
      </span>
    </button>
  </div>
</section>
